.portugal{
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none !important; /*important é necessario!*/
    cursor:pointer;
}
.portugal:link {color: white;}      /* unvisited link */
.portugal:visited {color: white;}   /* visited link */
.portugal:hover {color: white;}     /* mouse over link */
.portugal:active {color: white;}    /* selected link */

label {cursor:pointer;}

.box.snaps-inline {
    scroll-snap-type: inline mandatory;
    display:grid;
    grid-auto-flow: column;

    grid-auto-columns:30vh; /*Tamanho dos cards*/
    gap: 5px; /*Alterar Gap entre cards*/

    overflow-x: auto;
    overscroll-behavior-inline: contain;
} .snaps-inline > * {scroll-snap-align: center;}

.imgHotel{
    /* height:100%; Nao passar de 100% porque aparece barra vertical */
    width:100%;
    
    border-radius: 50px;
    border: 15px;
    /* height: ; */
}

.image{
    overflow: hidden;
}


         
.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.megasombra {
    text-shadow: 0.1em 0.1em 0.2em black
}
 
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.active > img{
    box-shadow: 0px 0px 10px 5px rgb(149, 149, 149);
}
.selectedHotel > img{
    box-shadow: 0px 0px 10px 5px rgb(149, 149, 149);
}

.btn-toggle-nav{
    background-color:rgba(255, 255, 255, 0.877);
    border-radius: 10%;

}

li{
    margin-bottom: 10px;
    height: 2.5rem;
    border-bottom:solid 1px rgba(245, 245, 245, 0.452);
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}

.save{
    position: absolute;
    right:10px;
    top:10px;
    color:white;
}
.saveAero{
    position: absolute;
    color: white;
    right: 20px;
    top: 7px;
}